
@media screen and (max-width:1200px)
{
	
}

@media screen and (max-width:1023px)
{
	.nav-tabs > li > a{ padding: 10px 7px 10px 7px; font-size: 12px; }
	.f-to-t-form .form-group input{ max-width: 150px;  }
}

@media screen and (max-width:768px)
{
	#page-wrapper ul.navbar-top-links{ margin-right: 15px; }
	.body-small .navbar-top-links li:last-child{ float:right; }
}

@media screen and (max-width:767px)
{
	.stats-top-form .col-lg-12 .form-group{ display:block; margin-bottom: 0; }
	.stats-top-form .row{ margin-bottom: 20px; }
	.stats-top-form .col-lg-12 .form-group p{ margin: 0; padding: 4px 0;  }
	.stat-src-top{ max-width: inherit; padding: 0 0 10px 0; }
	.f-to-t-form .form-group input{ max-width: inherit;  }
}

@media screen and (max-width:479px)
{
	.modal-default-class .modal-body{ padding: 20px 15px 20px 15px; }
	.navbar-top-links li a{padding:20px 2px; }
	.navbar-top-links li.head-add-link a{width:46px; }
	.modal-title{ font-size: 15px; }
	.loginscreen.middle-box{width:260px; }
	.ibox-content{padding:15px; }
	.tabs-container .panel-body{ padding:10px; }
	.stats-top-form .col-lg-12 .form-group p{font-size: 12px; }
	.tabs-container .nav-tabs > li > a{padding:10px; }
	.note-editor .note-editable{ padding: 10px; }
	
}
