.deleted-row { background-color: #f4645f !important; color: #FFF; }
span.active { color: rgb(80, 180, 110); }
.btn.btn-delete { color: #ed5565; background: none; border: none; font-size: 20px;}
.btn.btn-edit { color: #337ab7; background: none; border: none; font-size: 20px;}
.amount { font-weight: bold; padding-right: 20px;   }
button#SearchTrans, button.btn.btn-primary.submit{ margin-bottom: 0px; width:100%; }
.cms-form-section{max-width: 100%;}
.cutom-page-title {border-bottom: 1px groove rgba(255,255,255,.15);  padding: 6px 15px; display: inline-block; width: 100%; }
h3.custom-page-heading { margin: 5px 0px; font-weight: 700; font-size: 18px; color: rgba(51, 51, 51, 0.56); }
h3.custom-page-heading img{width: 50px;height: 50px;object-fit: cover;}
.sweet-alert-warning button.confirm:hover, .sweet-alert-warning button.confirm:focus { background-color: rgb(212, 103, 82) !important ; color: #FFF;}
.sweet-alert-success button.confirm:hover, .sweet-alert-success button.confirm:focus { background-color: rgb(80, 180, 110) !important ; color: #FFF;}

ul.nav.user-menu { list-style-type: none; margin-bottom: 10px; padding: 10px; overflow: hidden; }
ul.nav.user-menu > li { float: left; border: 1px solid rgba(128, 128, 128, 0.21); }
ul.nav.user-menu > li a { display: block; color:   #676a6c; text-align: center; padding: 14px 16px; text-decoration: none; }
ul.nav.user-menu > li a:hover { background-color: rgba(128, 128, 128, 0.21); }
ul.nav.user-menu > li.active{ background: #c5cfd8;}

#DataTables_Table_0 .status .switchery { height: 15px; width: 33px; margin-bottom: 3px; margin-left: 5px; }
#DataTables_Table_0 .status .switchery > small { height: 14px; width: 14px; }
.stats-top-form div p{ display: flex; align-items: center; justify-content: center; min-height: 85px; background: #f8f8f8; flex-flow: row wrap; }
.stats-top-form div p span { display: block; flex: 1 100%;}
.stats-top-form div p span { margin-bottom: 10px; align-self: flex-end; }
.stats-top-form div p span + span{ align-self: flex-start; margin-bottom: 0px; font-size: 20px; font-weight: bold; color: #1ab394; }   


/*Dashboard Panel */
.ibox.ibox-purple { border : 1px solid #9273a2; }
.ibox.ibox-purple .ibox-title { color: #FFF; background-color : #B192C2; border-bottom : 1px solid #9273a2; border-top:none; }
.ibox.ibox-purple .ibox-content { color: #9273a2; }

.ibox.ibox-blue { border : 1px solid #88bad4; }
.ibox.ibox-blue .ibox-title { color: #FFF; background-color : #7AC2E7; border-bottom : 1px solid #88bad4; border-top:none; }
.ibox.ibox-blue .ibox-content { color: #7AC2E7; }

.ibox.ibox-inactive { border : 1px solid #323638; }
.ibox.ibox-inactive .ibox-title { color: #FFF; background-color : #949fa5; border-bottom : 1px solid #323638; border-top:none; }
.ibox.ibox-inactive .ibox-content { color: #323638; }

.ibox.ibox-green { border : 1px solid #1ab394; }
.ibox.ibox-green .ibox-title { color: #FFF; background-color : #1ab394; border-bottom : 1px solid #1ab394; border-top:none; }
.ibox.ibox-green .ibox-content { color: #1ab394; }

.ibox.ibox-green { border : 1px solid #1ab394; }
.ibox.ibox-green .ibox-title { color: #FFF; background-color : #1ab394; border-bottom : 1px solid #1ab394; border-top:none; }
.ibox.ibox-green .ibox-content { color: #1ab394; }

.ibox.ibox-brown { border : 1px solid #8e7a53; }
.ibox.ibox-brown .ibox-title { color: #FFF; background-color : #C1A672; border-bottom : 1px solid #8e7a53; border-top:none; }
.ibox.ibox-brown .ibox-content { color: #8e7a53; }

.ibox.ibox-yellow { border : 1px solid #adaa6f; }
.ibox.ibox-yellow .ibox-title {color: #FFF; background-color: #d8d589; border-bottom: 1px solid #adaa6f; border-top: none; }
.ibox.ibox-yellow .ibox-content { color: #ccc985; }

.ibox.ibox-orange { border : 1px solid #f8ac59; }
.ibox.ibox-orange .ibox-title { color: #FFF; background-color : #f8ac59; border-bottom : 1px solid #f8ac59; border-top:none; }
.ibox.ibox-orange .ibox-content { color: #f8ac59; }

a.btn.btn-view { background: #337ab7; color: #FFF; font-size: 13px; font-weight: bold;}

span.task-title { float: right; background: #63969e; color: #fff; padding: 5px; }


.user-basic-details { margin-top:10px}
.user-details.table>tbody>tr>th{ width: 16% }
.user-details.table>tbody>tr>th, .user-details.table>tbody>tr>td  { border:none; padding:4px}

.users-tasks-details ul {list-style-type: none;margin-bottom: 10px;padding: 0;overflow: hidden;/* width:100% */display: flex;align-items: stretch;justify-content: space-around;flex-flow: row wrap;}
.users-tasks-details ul > li {text-align: center;border: 1px solid rgba(128, 128, 128, 0.21);padding: 10px 5px;margin: 5px 2px;/* display: inline-block; */border-radius: 4px;flex: 1 13%;}
.users-tasks-details ul > li span.task-count { display: block; text-align: center; }


.nav-header img{width: 50px;height: 50px;object-fit: cover;}

.user-reviews-details nav {
    float: left;
    width: 100px;
    height: auto;
    min-height:110px;
    padding: 10px;
}

.user-reviews-details article {
    float: left;
    padding: 10px;
    width: 80%;
    height: auto;
    min-height:110px;
}

section:after {
    content: "";
    display: table;
    clear: both;
}
@media (max-width: 600px) {
    .user-reviews-details nav, .user-reviews-details article {
        /* width: 100%; */
        height: auto;
    }
}


img.userreviews-task-picture {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #DEDEDE;
    object-fit: cover;
}
.user-reviews-details article.article p.reviewedby img.img-circle {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.user-reviews-details article.article p.task-name {
    font-size: 18px;
    color:blue;
}
.user-reviews-details article.article p.rewiew {
    font-size: 14px;
}
.user-reviews-details article.article p {
    margin : 0;
    line-height: 1.5;
    padding: 5px;
}
.user-reviews-details article.article p.rating span.total-rating {
    background: orange;
    color: #FFF;
    padding: 5px;
    border-radius: 5px;
}
span.reviewed_date {
    padding-left: 10px;
    font-weight: bold;
}

.user-reviews-details article.article p span.fa.fa-star.checked {
    color: orange;
}